{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Welcome to SolmanRaj Blogs</title>
        <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
	</head>
	<body style="background-image: white;">
		<!-- NAVIGATION -->
		<nav class="bg-transparent border-gray-200 px-2 sm:px-4 py-2 rounded dark:bg-gray-900">
			<div class="container flex flex-wrap items-center justify-between mx-auto">
				<a href="https://flowbite.com/" class="flex items-center">
					<!-- <img
						src="logo.png"
						class="h-6 mr-3 sm:h-9"
						alt="" /> -->
					<span
						class="self-center font-serif text-xl font-semibold whitespace-nowrap dark:text-white"
						>SolmanRaj</span
					>
				</a>
				<div class="flex md:order-2">
					<button
						type="button"
						class="btn-black">
						Contact us
					</button>
					<button
						data-collapse-toggle="navbar-cta"
						type="button"
						class="inline-flex items-center p-2  text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
						aria-controls="navbar-cta"
						aria-expanded="false">
						<span class="sr-only">Open main menu</span>
						<svg
							class="w-6 h-6"
							aria-hidden="true"
							fill="currentColor"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg">
							<path
								fill-rule="evenodd"
								d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
								clip-rule="evenodd"></path>
						</svg>
					</button>
				</div>
				<div
					class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
					id="navbar-cta">
					<ul
						class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:font-sans md:text-black md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
						<li>
							<a href="/" class="nav-link active">Home</a>
						</li>
						<!-- <li>
							<a href="#" class="nav-link">Services</a>
						</li>
						<li>
							<a href="#" class="nav-link">About</a>
						</li>
						<li>
							<a href="#" class="nav-link">Contact</a>
						</li> -->
					</ul>
				</div>
			</div>
		</nav>
		<div class="w-full h-[1px] bg-gray-600 mb-8 "></div>
        <!-- END NAVIGATION -->
		<!-- MAIN SECTION -->
		<!-- <div class="my-16">
			<p class="text-6xl font-bold text-center">Latest Posts</p>
		</div> -->
		{{page}}
			{% for post in page.get_children %}
			<div class="grid grid-cols-2 mx-5 py-10 md:mx-20 max-w-7xl xl:mx-auto cursor-pointer hover:hadow-[10px_10px_0px_0px_black] border-black shadow-black main-blog" onclick="window.location.href= '';">
				<div class="w-full h-[60vh] max-h-[40rem] transition-shadow duration-300 mx-auto border-r border-black">
					<div class="flex justify-center items-center flex-col w-full h-full">
						<img src="{{ post.image }}" alt="" class="md:max-h-[60vh] block m-auto object-contain p-4 max-w-lg">
						<div class="w-full h-12"></div>
					</div>
				</div>
				<div class="max-w-5xl md:mx-auto w-full px-8 py-4">
					<div class="flex pt-4 space-x-1 text-sm text-gray-500">
						<time datetime="2020-03-10"> {{post.last_published}} </time>
						<span aria-hidden="true"> · </span>
						<span> 4 min read </span>
					</div>
					<h2 class="font-serif font-bold text-2xl pt-1 underline">{{post.title}}</h2>
					<p class="text-slate-800 py-2 font-normal">{{post.card_intro}}</p>
				</div>
			</div>
			{% endfor %}
		</div>
			<!-- <div class="grid md:grid-rows-2 gap-4">
				<div class="flex group border rounded-md border-black h-max cursor-pointer transition-all duration-200 ease-in-out hover:shadow-[-5px_5px_0px_0px_black]">
					<div class="flex-shrink-0 w-[30%] md:w-[calc(100% - 70%)]">
						<img class="max-w-lg w-full h-full border-r border-black rounded-l-md" src="https://picsum.photos/900" alt="text">
					</div>
					<div class="p-4">
						<span class="text-sm text-gray-500">Coming soon</span>
						<p class="mt-1 text-lg leading-6 font-serif group-hover:underline font-bold">
							<a href="./blog-post.html" class="text-xl text-gray-800 hover:text-gray-500">Creating Navbar with tailwind css</a>
						</p>
						<p class="mt-2 text leading-normal text-gray-500 b-desc">{% lorem 30 w %}</p>
					</div>
				</div>
				<div class="flex group border rounded-md border-black h-max cursor-pointer transition-all duration-200 ease-in-out hover:shadow-[-5px_5px_0px_0px_black]">
					<div class="flex-shrink-0 w-[30%] md:w-[calc(100% - 70%)]">
						<img class="max-w-lg w-full h-full border-r border-black rounded-l-md" src="https://picsum.photos/300" alt="text">
					</div>
					<div class="p-4">
						<span class="text-sm text-gray-500">Coming soon</span>
						<p class="mt-1 text-lg leading-6 font-serif group-hover:underline font-bold">
							<a href="./blog-post.html" class="text-xl text-gray-800 hover:text-gray-500">5 tips to go from boring to extraordinary </a>
						</p>
						<p class="mt-2 text leading-normal text-gray-500 b-desc">{% lorem 30 w %}</p>
					</div>
				</div>
			</div> -->
		</div>
		<!-- END MAIN -->
		<script src="{% static 'js/clamp.min.js' %}"></script>
		<script>
			for (let i = 0; i < document.getElementsByClassName("b-desc").length; i++) {
				$clamp(document.getElementsByClassName("b-desc")[i], {clamp: 4})
			}
		</script>
	</body>
</html>
